.idea/
Scripts/Logs/*.log
Technical/Scripts/Logs/*.log
Calendula-20K/.obsidian/graph-store/
Calendula/.obsidian/plugins/live-graph/live-graph-recovery/
Calendula-People-Graph-From-Branch/Calendula/.obsidian/plugins/live-graph/live-graph-recovery/
Angl/.obsidian/plugins/live-graph/
