---
type: term
---

# verification

## Abstractions
[[Quality]]
[[Change]]
