---
type: Principle
tags: [principle, decision-making]
---

# Law of Verification

## Description
A principle that guides decision-making.

## Related Values
- [[Value: Progress]]
- [[Value: Meritocracy]]
- [[Value: Aristocracy]]

## Generates Rules
- [[Rule: Prioritize Principle of Need over Freedom]]
- [[Rule: Always apply Principle of Pull System in context of Critical Thinking]]
- [[Rule: Prioritize Law of Catastrophe over Justice]]

## Related Principles
- [[Principle: Principle of Escalation of Commitment]]
- [[Principle: Principle of Regionalization]]
